<!-- about hero -->

<section class="about-hero">
  <div class="container text-center">
    <h1>About Nexstrom</h1>
    <p>Smart Automation & Engineering Solutions</p>
  </div>
</section>

<!-- about hero end-->

<!-- about content -->
 <section class="about-content">
  <div class="container">

    <p>
      NEXSTROM is a forward-thinking engineering and automation company dedicated 
      to delivering smart, reliable, and future-ready solutions across residential, 
      commercial, and industrial sectors.
    </p>

    <p>
      Founded with a vision to bring innovation and efficiency into everyday life, 
      we specialize in smart home automation, industrial automation, solar energy 
      solutions, and electrical engineering services.
    </p>

    <p>
      At NEXSTROM, we believe that technology should not only solve problems but 
      also enhance comfort, improve productivity, and create sustainable growth.
    </p>

  </div>
</section>
<!-- about content end-->

<!-- mission vision-->

 <section class="mission-vision">
  <div class="container">
    <div class="row g-4">

      <div class="col-md-6">
        <div class="info-card">
          <h3>Our Mission</h3>
          <p>
            To deliver smart, reliable, and innovative automation and engineering 
            solutions that simplify lives, empower businesses, and create a more 
            efficient and sustainable future.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="info-card">
          <h3>Our Vision</h3>
          <p>
            To shape a smarter and greener future where technology enhances comfort, 
            efficiency, and sustainability in every space.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- mission vision end-->

<!-- strenth section -->

 <section class="about-strength">
  <div class="container text-center">
    <h2>Our Strength</h2>
    <p>
      Our strength lies in our technical expertise, innovative thinking, and 
      commitment to delivering reliable solutions that create real value for 
      our clients.
    </p>
  </div>
</section>

<!-- strenth section end-->

<!-- Why Nexstrom -->

<section class="why-nexstrom">
  <div class="container text-center">
    <h2>Why Nexstrom</h2>
    <p>
      Because we don’t just provide services — we build smart, efficient, 
      and future-ready solutions that help our clients grow.
    </p>
  </div>
</section>

<!-- Why Nexstrom end -->



