<section class="projects-hero">
  <div class="container text-center">
    <h1>Our Projects</h1>
    <p>Automation & Engineering Work Portfolio</p>
  </div>
</section>

<section class="projects-grid">
  <div class="container">
    <div class="row g-4">

      <div class="col-md-6 col-lg-4">
        <div class="project-card">
          <div class="project-img"></div> 
          <!-- replace this project-img class with this<img src="assets/projects/project1.jpg" class="img-fluid"> -->
          <h5>Smart Homes Automation</h5>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="project-card">
          <div class="project-img"></div>
          <!-- replace this project-img class with this<img src="assets/projects/project1.jpg" class="img-fluid"> -->
          <h5>Industrial Automation</h5>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="project-card">
          <div class="project-img"></div>
          <!-- replace this project-img class with this<img src="assets/projects/project1.jpg" class="img-fluid"> -->
          <h5>Solar Installations</h5>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="project-card">
          <div class="project-img"></div>
          <!-- replace this project-img class with this<img src="assets/projects/project1.jpg" class="img-fluid"> -->
          <h5>Electronics & Telecom Sector</h5>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="project-card">
          <div class="project-img"></div>
          <!-- replace this project-img class with this<img src="assets/projects/project1.jpg" class="img-fluid"> -->
          <h5>Electrical Projects</h5>
        </div>
      </div>

    </div>
  </div>
</section>